[submodule "udagram-frontend"]
	path = udagram-frontend
	url = git@github.com:Sasa94s/udagram-frontend.git
[submodule "udagram-api/feed-service"]
	path = udagram-api/feed-service
	url = https://github.com/Sasa94s/udagram-api-feed-service
[submodule "udagram-api/users-service"]
	path = udagram-api/users-service
	url = git@github.com:Sasa94s/udagram-api-users-service.git
[submodule "udagram-reverseproxy"]
	path = udagram-reverseproxy
	url = git@github.com:Sasa94s/udagram-reverseproxy.git
